nav
    position relative
    min-width: 100%
    height: 36px
    background-color: #114473
    display: flex
    justify-content: center
    @media screen and (max-width: 1000px)
        display: none
    .navInfo
        min-width: 75%
        height: 100%
        display: flex
        justify-content: space-between
        @media screen and (max-width: 1125px)
            min-width: 90%
        .wrapperLinks
            height 100%
            width: 100%
            margin: 0
            padding: 0
            display inherit 
            align-items: center
            .link
                display: flex;
                align-items: center;
                height 100%
                margin-right: 4%
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 3.67;
                letter-spacing: normal;
                text-align: left;
                text-decoration: none
                color: #c9f5fe;
                &:last-child
                    margin-right: 0
                &:hover
                    color: #fffa90
        .wrapperPosition
            height 100%
            margin: 0
            padding: 0
            display inherit 
            align-items: center
            .position
                display: flex;
                align-items: center;
                padding: 12px 28px;
                margin-right: 2px 
                height 100%
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 3.67;
                letter-spacing: normal;
                text-align: left;
                color: #114473
                background-color: #9dcfff
                text-decoration: none
                &:hover
                    background-color: #7abdff
                    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.25);
